<div class="container centered">
  <div>
    <h1>🎉 Job Applied Successfully! 🎉</h1>
    <p>Your job application has been successfully submitted.</p>
    <a href="/user-applications" class="btn btn-primary"
      >View Application Details</a
    >
  </div>
</div>
