<div class="landing-page-container">
  <div class="row h-100">
    <div class="col-md-6 left-side text-center">
      <h2 class="mb-4 heading">
        Bridging the Gap Between Employers and Job Seekers
      </h2>
      <div class="btn-container">
        <a href="/find-job"
          ><button id="btn-custom" class="btn btn-primary">
            I'm a Job Seeker
          </button></a
        >
        <a href="/post-job"
          ><button id="btn-custom" class="btn btn-success">
            I'm a Recruiter
          </button></a
        >
      </div>
    </div>
    <div class="col-md-6 right-side">
      <img src="/images/job-image.png" class="img-fluid" alt="Job Image" />
    </div>
  </div>
</div>
